{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "standard-react",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "plugins": ["@typescript-eslint", "react-hooks"],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "overrides": [
    {
      "files": ["./example/**/*.tsx"],
      "rules": {
        "no-unused-vars": 0,
        "@typescript-eslint/no-unused-vars": 0
      }
    }
  ],
  "rules": {
    "space-before-function-paren": 0,
    "react/prop-types": 0,
    "react/jsx-handler-names": 0,
    "react/jsx-fragments": 0,
    "react/no-unused-prop-types": 0,
    "import/export": 0,
    "@typescript-eslint/no-unused-vars": [ 2, { "args": "none", "argsIgnorePattern": "^_" } ],
    "max-len": ["error", { "code": 120 }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    // https://typescript-eslint.io/rules/no-use-before-define/#how-to-use
    // что-то с версиями этих библиотек
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"]
  }
}
