{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "standard",
    "standard-react",
    "plugin:prettier/recommended",
    "prettier/standard",
    "prettier/react",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "plugins": ["@typescript-eslint"],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "overrides": [
    {
      "files": ["./example/**/*.tsx"],
      "rules": {
        "no-unused-vars": 0,
        "@typescript-eslint/no-unused-vars": 0
      }
    }
  ],
  "rules": {
    "space-before-function-paren": 0,
    "react/prop-types": 0,
    "react/jsx-handler-names": 0,
    "react/jsx-fragments": 0,
    "react/no-unused-prop-types": 0,
    "import/export": 0,
    "@typescript-eslint/no-unused-vars": [ 2, { "args": "none", "argsIgnorePattern": "^_" } ],
    "max-len": ["error", { "code": 120 }]
  }
}
