@use '../../../assests/styles/constants' as *;
@use '../../../assests/styles/common.module';

.wrapper {
  position: fixed;
  bottom: $spacing_xl;
  right: $spacing_xl;
  width: calc(100vw - 40px);
  max-width: 327px;

  > :nth-child(n+2) {
    margin-top: $spacing_xl;
  }
}

.notification {
  box-sizing: border-box;
  width: 100%;
  border-radius: $borderRadius_m;
  background-color: $color_backgroundSecondary;
  position: relative;
  padding: $spacing_m $spacing_xl;
  box-shadow: $shadow_variant-1;
}

.close {
  position: absolute;
  right: $spacing_xs;
  top: $spacing_xs;
  cursor: pointer;

  > svg {
    color: $color_textSecondary;
    width: $spacing_l;
    height: $spacing_l;
  }
}

.content {
  display: flex;
  flex-direction: column;

  > :nth-child(n+2) {
    margin-top: $spacing_m;
  }
}

.title {
  &_correct {
    color: $color_correct;
  }

  &_incorrect {
    color: $color_incorrect;
  }

  &_info {
    color: $color_info;
  }

  &_warning {
    color: $color_warning;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
