// Colors
$color_primary: #7E57C2;
$color_textPrimaryContrast: #FFF;
$color_primaryHover: #9575CD;

$color_secondary: #64B5F6;
$color_textSecondaryContrast: #000;
$color_secondaryHover: #90CAF9;

$color_correct: #43A047;
$color_incorrect: #F4511E;
$color_warning: #FB8C00;
$color_info: #039BE5;

$color_backgroundPrimary: #FFF;
$color_backgroundSecondary: #F5F5F5;

$color_textPrimary: #000;
$color_textSecondary: #455A64;

// Border-radius
$borderRadius_s: 4px;
$borderRadius_m: 12px;

// Shadows
$shadow_variant-1: 0px 3px 12px rgba(0, 0, 0, 0.18);

// Spacing
$spacing_xs: 4px;
$spacing_s: 8px;
$spacing_m: 12px;
$spacing_l: 16px;
$spacing_xl: 24px;
$spacing_xxl: 32px;

// Breakpoints
$screen_xs_min: 375px;
$screen_sm_min: 485px;
$screen_sm_max: 600px;
$screen_md_min: 768px;
$screen_md_max: 960px;
$screen_lg_min: 1280px;
$screen_xl_min: 1440px;
