@use './common.module';
@import './constants';

.page {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}

.pageHeader {
  text-align: center;
  margin: $spacing_l auto;
}

.pageContent {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing_xl;

  > :nth-child(n+2) {
    margin-top: $spacing_xl;
  }
}

.pageBlock {
  display: flex;
  flex-direction: column;

  > :nth-child(n+2) {
    margin-top: $spacing_l;
  }
}

.buttons {
  display: flex;
  flex-direction: row;

  > :nth-child(n+2) {
    margin-left: $spacing_m;
  }
}
